.btn {
    font-size: 1.5rem;
    &--auth {
        background: $violetStrong;
        color: #fff;
        padding: .5rem 1rem;
        border: .1rem solid $violetStrong;
        &:hover {
            color: $violetStrong;
            background: none;
        }
    }
    &--post {
        position: absolute;
        right: 2rem;
        bottom: 2rem;
        padding: .5rem 1rem;
        background: $violetStrong;
        color: #fff;
        border-radius: .3rem;
        &:hover {
            background: $violet;
        }
    }
}